/*头部样式*/
.header{
    width:100%;
    height:103px;
    background-color:#fff;
    border-bottom:1px solid #d5d5d5;
    position:fixed;
    left:0;
    top:0;
    z-index:666;
}
.top{
    width:1196px;
    height:103px;
    margin:0 auto;
}
.logo{
    width:206px;
    height:50px;
    float:left;
    margin-top:26.5px;
}
.header_r{
    width:990px;
    height:103px;
    float:right;
}
.login{
    width:100%;
    height:30px;
    line-height:30px;
    color:#9f9f9f;
    font-size:12px;
}
.login ul {
    float:right;
}
.login ul li{
    float:left;
}
.login ul li a{
    margin:0 10px;
    color:#9f9f9f;
}
.login ul li:nth-child(1) a{
    color:#f00;
}
.login ul li a:hover{
    color:#f00;
}
.nav{
    width:100%;
    height:73px;
    float:right;
    line-height:73px;
}
.nav ul{
    float:right;
}
.nav ul li{
    float:left;
}
.nav ul li a{
    margin:0 29px;
    font-size:16px;
    color:#000;
}
.nav ul li a:hover{
    color:#f00;
}
.search{
    width:165px;
    height:28px;
    border:1px solid #ddd;
    padding-left:3px;
    margin-top:21.5px;
}
.search input{
    width:138px;
    height:26px;
    float:left;
}
.search button{
    width:25px;
    height:28px;
    float:right;
    background-color:#fff;
}
.hidden_box{
    width:100%;
    height:250px;
    background-color:rgba(255,255,255,.5);
    position:absolute;
    left:0;
    top:104px;
    display:none;
}
.nav ul li:nth-child(2):hover .hidden_box{
    display:block;
}
/*头部样式end*/

/*大容器*/
.container{
    width:100%;
}

/*轮播图样式*/
.container .banner{
    width:100%;
    height:640px;
    margin-top:104px;
    overflow:hidden;
}
.container .banner a{
    width:100%;
    height:640px;
    display:block;
    background:url(../images/04_1515047442501.jpg);
    background-position:-240px;
}
/*轮播图样式end*/

/*明星产品样式*/
.container .new{
    width:1196px;
    height:450px;
    margin:0 auto;
}
.new p{
    width:100%;
    height:124px;
    line-height:124px;
    text-align:center;
    font-size:30px;
    color:#000;
}
.new_pic{
    width:100%;
    height:270px;
}
.container .new_pic a{
    width:390px;
    height:270px;
    display:block;
    float:left;
    position:relative;
}
.new_pic a img{
    width:390px;
    height:270px;
    margin-right:8px;
    position:absolute;
    top:0;
    left:0;
}
.new_pic_test{
    width:178px;
    height:80px;
    padding-left:212px;
    position:absolute;
    top:90px;
    left:0;
}
.new_pic_test li:before{
    content:".";
    display:inline-block;
    margin-right:10px;
    font-size:18px;
    vertical-align:super;
}
.new_pic_test li{
    width:100%;
    height:23px;
    font-size:16px;
    color:#fff;
}
/*明星产品样式end*/

/*中间内容样式*/
.container .content{
    width:100%;
    background-color:#e5e5e5;
}
/*热卖推荐*/
.container .content .groom{
    width:1196px;
    margin:0 auto;
}
.content_title{
    width:100%;
    padding-top:40px;
    font-size:30px;
    text-align:center;
}
.more{
    display:inline-block;
    width:100%;
    font-size:15px;
    text-align:right;
    letter-spacing:1px;
    color:#000;
    padding-bottom:15px;
}
.more:hover{
    color:#ff1e1e;
}
.groom_pic{
    width:1196px;
}
.groom_l{
    width:26%;
    height:785px;
    float:left;
}
.groom_r{
    width:74%;
    float:right;
}
.groom_r li{
    width:290px;
    height:390px;
    float:left;
    margin-right:5px;
    margin-bottom:5px;
    background-color:#fff;
}
.clearfix:after{
    display:block;
    content:"";
    clear:both;
}
.groom_r a{
    display:block;
    width:290px;
    height:390px;
}
.groom_r .groom_r_phone{
    width:120px;
    height:263px;
    position:relative;
    margin:0 auto;
}
.groom_r .groom_r_phone .before{
    width:120px;
    height:240px;
    position:absolute;
    top:23px;
    left:0;
    transition:1s;
    -webkit-transition:1s;
}
.groom_r li:hover .before{
    transform:translateX(35px);
    -webkit-transform:translateX(35px);
}
.groom_r .groom_r_phone .after{
    width:120px;
    height:240px;
    position:absolute;
    top:23px;
    left:0;
    transition:1s;
   -webkit-transition:1s;
}
.groom_r li:hover .after{
    transform:translateX(-35px);
    -webkit-transform:translateX(-35px);
    -moz-transform:translateX(-35px);
}
.groom_r .groom_r_des{
    text-align:center;
}
.des_title{
    font-size:16px;
    color:#000;
    padding-top:15px;
}
.des_detail{
    font-size:14px;
    color:#9E9E9E;
    padding-top:3px;
}
.groom_r_des .des_price{
    padding-top:12px;
    font-size:24px;
    color:#fe6a00;
}
.des_price span{
    font-size:18px;
}
/*热卖推荐end*/

/*精品配件*/
.content .parts{
    width:1196px;
    margin: 0 auto;
}
.parts_pic{
    width:100%;
    padding-bottom:60px;
}
.parts_pic li{
    width:386px;
    height:343px;
    float:left;
    margin-right:12px;
    margin-bottom:12px;
}
.parts_pic li:hover{
    box-shadow:0 15px 30px rgba(0,0,0,.2);
    transform:translateY(-5px);
    -webkit-transform:translateY(-5px);
    -moz-transform:translateY(-5px);
    -ms-transform:translateY(-5px);
    transition:1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}
.parts_pic a{
    width:386px;
    height:343px;
    display:block;
    position:relative;
}
.parts_des{
    width:100%;
    position:absolute;
    left:0;
    bottom:20px;
    text-align:center;
}
.parts_des .des_price {
    color: #f06261;
    font-size: 24px;
    padding-top: 2px;
}
/*精品配件end*/

/*中间内容样式end*/

/*品牌动态*/
.brandnews{
    width:100%;
    background-color:#fff;
}
.brandnews_wapper{
    width:1196px;
    margin:0 auto;

}
.brandnews_pic{
    width:100%;
    height:377px;
    padding-top:40px;
    padding-bottom:30px
}
.brandnews_pic a{
    width:386px;
    height:377px;
}
.brandnews_pic img{
    width:386px;
    height:377px;
    display:inline-block;
    float:left;
    margin-right:12.5px;
}
/*品牌动态end*/

/*大容器end*/

/*底部*/
footer{
    width:100%;
}
.customer{
    width:100%;
    height:44px;
    border:1px solid #eaeaea;
    padding:40px 0;
    background-color:#fff;
}
.customer ul li {
    width: 25%;
    height: 46px;
    float:left;
}
.customer ul li a {
    display: block;
    width: 140px;
    height: 46px;
    color: #777;
    float: left;
    font-size: 16px;
}
.customer span{
    display:block;
    width:46px;
    height:46px;
    float:left;
    margin-right:10px;
}
.c_policy{
    background: url(../images/spirite.png) 0 -61px;
}
.c_barter{
    background: url(../images/spirite.png) -46px -61px;
}
.c_exempting{
    background: url(../images/spirite.png) -92px -61px;
}
.c_point{
    background: url(../images/spirite.png) -138px -61px;
}
.customer ul li i{
    float:left;
    font-style:normal;
}
.customer ul li i:hover{
    color:#f00;
}
.guide{
    padding:30px 0;
}
.guide dl{
    width:18%;
    float:left;
    line-height:33px;
    color:#777;
}
.guide dl dt{
    font-size:16px;
}
.guide dl dd{
    font-size:12px;
}
.guide dl dd:hover{
    color:#f00;
}
.code{
    width:101px;
    float:right;
    text-align:center;
    font-size:12px;
    color:#777;
    /*justify-content:center;*/
}
.code span{
    display:inline-block;
    width:95px;
    height:95px;
    border:3px solid #ccc;
    background:url(../images/spirite.png) -279px 0;
}
.code i{
    font-style:normal;
}

/*版权*/
.court{
    padding:20px 0;
    background:#333;
    color:#999;
    font-size:12px;
}
.maplink{
    margin-bottom:10px;
}
.maplink li{
    line-height:23px;
    float:left;
}
.maplink li span{
    margin:0 10px;
}
.court a{
    color:#999;
}
.court a:hover{
    color:#fff;
}
.licence{
    height:45px;
    margin-bottom:10px;
}
.licene_t{
    line-height:45px;
    float:left;
}
.licence span{
    float:right;
    margin-right:10px;
}
.copyright{
    margin-bottom:10px;
}
.licene_t a{
    vertical-align:middle;
    margin-right:8px;
}
.licene_t a:nth-child(5){
    display:inline-block;
    width:114px;
    height:45px;
    background-image:url(../images/sf.png);
}
/*.licene_t a:nth-child(6){*/
    /*display:inline-block;*/
    /*!*width:40px;*!*/
    /*!*height:45px;*!*/
    /*!*background-image:url(../images/govIcon.gif)*!*/
/*}*/
.licene_t a:nth-child(7){
    display:inline-block;
    width:120px;
    height:45px;
    background-image:url(../images/b.png);
}
/*版权end*/

/*底部end*/

/*悬浮窗*/
.service{
    width:60px;
    position:fixed;
    top:230px;
    right:6px;

}
.service_item{
    width:58px;
    height:68px;
    border:1px solid #ddd;
    background-color:#fff;
    font-size:12px;
    margin-top:-1px;
    position:relative;
}
.service a{
    display:block;
    width:58px;
    height:25px;
    line-height:25px;
    padding-top:40px;
    text-align:center;
    color:#000;
    position:relative;
}
.service_item:hover a{
    color:#f00;
}
.service_item span{
    display:block;
    width:31px;
    height:31px;
    position:absolute;
    top:8px;
    left:14px;
}
.service_pic{
    background:url(../images/ui_service.png) 0 0;
}
.service_item:hover .service_pic{
    background:url(../images/ui_service.png) 0 -30px;
}
.service_help{
    background:url(../images/ui_service.png) -32px 0;
}
.service_item:hover .service_help{
    background:url(../images/ui_service.png) -32px -32px;
}
.service_return{
    background:url(../images/ui_service.png) -63px 0;
}
.service_item:hover .service_return{
    background:url(../images/ui_service.png) -63px -30px;
}
.service_item .service_care{
    padding-top:55px;
}
.service_code{
    width:50px;
    height:50px;
    position:absolute;
    top:7px;
    left:4px;
}